@media (min-width: 900px) {
  nav select  {display: none;}
}

@media (max-width: 900px) {
  nav select  {
    display: inline-block;
    background-color: transparent;
    outline: none;
    padding: 10px 5px;
    width: 300px;
    margin: 15px 0 15px 0;
    color: $activefont;
    font-size: 13px;
    font-size: 1.5em;
  }
  .navbar-inner .nav, .navbar-inner nav-tabs  {
    display: none;
  }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

@media only screen
and (max-width : 320px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  html, body  { max-width: 480px;}
  .wrapper, footer {
    max-width: 480px;
  }
  header {
    .navbar-inner {
      height: 10px;
      margin-top: 50px;
    }
    .twit {
      zoom: .65;
    }
    .ipad img {
      height: 150px;
      margin-left: -5px;
      position: relative;
      top: 45px;

    }
    nav.tabbable {
      left: 0;
      position: relative;
      width: 200px;
      margin-bottom: 50px;
      margin-top: 40px;
      margin: 0;
      width:100%;

      select {
        margin-top: 50px;
        color: #58595B;
        background-color: #fff;
      }
    }
    #taglines {
      display: none;

      h1.tag {
        font-size: 1em;
        color: #999;

      }
    }
  }
  .content {
    max-width: 480px;
    margin-top: 100px;
  }
  .row {
    max-width: 320px;
  }
  .offset8 {
    float: right;
  }
  .offset4 {
    margin-left: 20px;
  } 
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
  body        {
    min-width: 768px; 
    margin: 0;
  }

  header      {
    width: 100%;
  }

  .wrapper    {
    width: 100%;
  }

  footer      {
    width: 100%;
  }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

  nav {
    float: right;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {


  


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}