.steps { 
}

.figure {
	//border-radius: 10px;
	//border: 1px solid #888;
	//border-radius: 10px;
	//box-shadow: 2px 2px 4px black;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #e2e2e2;

	
	
	.span2 {

	}

	img {

		border-radius: 5px;	
	}


	h1 {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 10px;
	}

	h2 {
		margin-top: 5px;
		font-size: 1.0em;
		font-weight: 800;
	}
	p {
		margin-top: 0;
		margin-right: 10px;
		font-size: 1.1em;
	}
}

